body {
    margin-top: 15%;
    font-family: "Segoe UI";
    background: #444444;
}
p {
    margin: 10px 0;
}
label {
    font-size: 18pt;
    font-family: "Segoe UI";
    color: white;
}
input[type="text"] {
    font-size: 14pt;
    background-color: #c8c3bb;;
    border: 2px solid #444444;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    color: #444444;
    padding: 0 10px;
    vertical-align: top;
}
input[type="password"] {
    font-size: 14pt;
    background-color: #c8c3bb;
    border: 2px solid #444444;
    border-radius: 5px;
    height: 30px;
    width: 250px;
    color: #444444;
    padding: 0 10px;
    vertical-align: top;
}
input[type="button"] {
    font-size: 14pt;
    color: #444444;
    background-color: #c8c3bb;
    border: 2px solid #444444;
    border-radius: 5px;
    height: 30px;
    width: 120px;
}